.profile-container{
  position: sticky;
  top: 3px;
  min-width: 17rem;
  text-align: center;
  padding: 2.5rem 1.5rem 1.5rem 1.5rem;
  background-color: var(--pastel-color);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.079);
  height: fit-content;
}

.profile-container .profile-pic{
  width: 50%;
  max-width: 10rem;
  margin-bottom: 1.5rem;
  border-radius: 20px;
}

.profile-container .my-name{
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.profile-container .profession{
  font-size: var(--XS-Fsize);
  background-color: rgba(255, 255, 255, 0.158);
  padding: 0.3rem 1rem;
  width: fit-content;
  margin-inline: auto;
  border-radius: 5px;
  margin-bottom: 2rem;
}

.profile-container .line{
  width: 100%;
  opacity: 0.3;
  margin-bottom: 2rem;
}

.profile-container .card{
  display: flex;
  gap: 1rem;
  text-align: left;
  margin-bottom: 1.5rem;
}

.profile-container .card .card-icon{
  background-color: rgba(10, 19, 18, 0.165);
  width: 2.2rem;
  height: 2.2rem;
  border: 1px solid rgba(255, 255, 255, 0.070);
  box-shadow: -1px -1px 1px rgba(0, 255, 251, 0.101);
  border-radius: 8px;
}

.profile-container .card .card-icon img{
  scale: 0.5;
}

.profile-container .card .card-heading{
  color: var(--pastel-color2);
  display: inline;
  font-size: 0.8rem;
}

.profile-container .card .card-value{
  opacity: 0.9;
  margin-top: 0.2rem;
  font-size: 0.8rem;
}

.profile-container .socmed-nav{
  margin-top: 2.7rem;
}

.profile-container .socmed-nav ul{
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.profile-container .socmed-nav ul .socmed-icon{
  max-width: 1.3rem;
}

